absl-py==2.4.0
accelerate==1.13.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.18.4
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.49.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
arch==7.2.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.2.0
attrs==25.4.0
babel==2.18.0
beautifulsoup4==4.14.3
bitsandbytes==0.49.2
black==26.3.1
bleach==6.3.0
blinker==1.9.0
blis==1.3.3
blosc2==4.1.2
cachetools==5.5.2
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.5
click==8.3.1
cloudpathlib==0.23.0
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
comm==0.2.3
confection==1.3.2
contourpy==1.3.3
coolname==2.2.0
cryptography==46.0.5
cycler==0.12.1
cymem==2.0.13
dataclasses-json==0.6.7
datasets==3.6.0
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
dill==0.3.8
distlib==0.4.0
distro==1.9.0
docker-pycreds==0.4.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
evaluate==0.4.6
executing==2.2.1
faiss @ file:///home/task_176859088526325/croot/faiss-split_1768590981819/work/_build_python_generic
fastjsonschema==2.21.2
filelock==3.25.2
flake8==7.3.0
flatbuffers==25.12.19
fonttools==4.62.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.3.0
future==1.0.0
gast==0.7.0
genson==1.3.0
gitdb==4.0.12
GitPython==3.1.46
google-auth==2.49.1
google-genai==1.10.0
google-pasta==0.2.0
greenlet==3.3.2
grpcio==1.78.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.4.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
humanize==4.12.2
hydra-colorlog==1.2.0
hydra-core==1.3.2
hyperopt==0.2.7
identify==2.6.17
idna==3.11
igraph==0.11.8
ImageIO==2.37.3
importlib_metadata==8.7.1
iniconfig==2.3.0
ipykernel==6.29.5
ipython==9.11.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
json5==0.13.0
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.9.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.4.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kaggle==1.6.3
keras==3.13.2
kiwisolver==1.5.0
lazy-loader==0.5
libclang==18.1.1
libcst==1.5.1
lightgbm==4.6.0
lightning-utilities==0.15.3
line_profiler==4.2.0
litellm==1.65.7
Mako==1.3.10
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.1
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
mistune==3.2.0
mkl-service==2.5.2
mkl_fft @ file:///home/task_176159252635933/conda-bld/mkl_fft_1761592902019/work
mkl_random @ file:///home/task_176159299715632/conda-bld/mkl_random_1761593011445/work
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
multiprocess==0.70.16
murmurhash==1.0.15
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.18.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
ndindex==1.10.1
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.3
nodeenv==1.10.0
notebook_shim==0.2.4
numexpr==2.14.1
numpy==2.2.4
omegaconf==2.3.0
openai==1.72.0
opt_einsum==3.4.0
optree==0.19.0
optuna==4.2.1
packaging==24.2
pandas==2.2.3
pandas-stubs==2.2.3.250308
pandocfilters==1.5.1
parso==0.8.6
pathspec==1.0.4
patsy==1.0.2
peft==0.18.1
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.9.4
plotly==6.1.2
pluggy==1.6.0
pre_commit==4.2.0
preshed==3.0.13
prometheus_client==0.24.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==5.29.6
psutil==7.2.2
ptyprocess==0.7.0
pur==7.3.3
pure_eval==0.2.3
py-cpuinfo==9.0.0
py4j==0.10.9.9
pyaml==26.2.1
pyarrow==23.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.11.10
pydantic_core==2.33.2
pydeck==0.9.1
pyflakes==3.4.0
Pygments==2.19.2
pynvml==13.0.1
pyparsing==3.3.2
pytest==8.3.5
python-dateutil==2.9.0.post0
python-discovery==1.1.3
python-dotenv==1.2.2
python-json-logger==4.0.0
python-slugify==8.0.4
pytokens==0.4.1
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==27.1.0
rank-bm25==0.2.2
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rliable==1.2.0
rouge_score==0.1.2
rpds-py==0.30.0
safetensors==0.7.0
scikit-base==0.13.1
scikit-image==0.25.2
scikit-learn==1.6.1
scikit-optimize==0.10.2
scipy==1.15.2
seaborn==0.13.2
Send2Trash==2.1.0
sentence-transformers==5.3.0
sentencepiece==0.2.0
sentry-sdk==2.54.0
setproctitle==1.3.7
setuptools==80.10.2
shellingham==1.5.4
shutup==0.3.0
six==1.17.0
sklearn-pandas==2.2.0
sktime==0.40.1
smart_open==7.5.1
smmap==5.0.3
sniffio==1.3.1
soupsieve==2.8.3
spacy==3.8.13
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.48
srsly==2.5.3
stack-data==0.6.3
statsmodels==0.14.6
streamlit==1.44.1
submitit==1.5.2
sympy==1.13.3
tables==3.10.2
tabulate==0.9.0
tenacity==9.1.4
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
terminado==0.18.1
text-unidecode==1.3
texttable==1.7.0
tf_keras==2.20.1
thinc==8.3.13
threadpoolctl==3.6.0
tifffile==2026.3.3
tiktoken==0.12.0
tinycss2==1.4.0
tokenizers==0.21.4
toml==0.10.2
torch-geometric==2.7.0
torchmetrics==1.9.0
tornado==6.5.5
tqdm==4.67.1
traitlets==5.14.3
transformers==4.50.1
typer==0.24.1
types-psutil==7.0.0.20250401
types-pytz==2026.1.1.20260304
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.13.2
tzdata==2025.3
Unidecode==1.3.8
uri-template==1.3.0
urllib3==2.6.3
virtualenv==21.2.0
wandb==0.19.9
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.6.0
weasel==1.0.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.6
wheel==0.46.3
wrapt==2.1.2
xgboost==3.2.0
xlrd==2.0.1
xxhash==3.6.0
yarl==1.23.0
zipp==3.23.0
